{% extends 'admin/layouts/master.twig' %}

{% block title %}我的桌面{% endblock %}

{% block content %}
    <div class="page-container" style="background: url({{ WEB }}/static/H-ui/static/h-ui.admin/images/youname.png) no-repeat center;width: 100%;height: 100%;">
        <h1 style="color: #fff">欢迎使用后台管理！</h1>
        <!--<p class="f-20 text-success">欢迎使用题库后台管理！</p>-->
        <!--<p>登录次数：18 </p>-->
        <!--<p>上次登录IP：222.35.131.79.1  上次登录时间：2014-6-14 11:19:55</p>-->

    </div>
{% endblock %}

